.wrapper{
    width: 100%;
    background-color: rgb(227, 199, 241);
}

.recipe_group{
     display: flex;
     flex-wrap: wrap;
}

.recipe_header{
    font-size: 4rem;
    color: darkslategrey;
    text-align: center;
    margin: 20px;
}